.back-circle {
    width: 40px;
    height: 40px;
    background-color: #1b3b4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.back-circle svg {
    color: white;
}

.back-circle:hover {
    background-color: #154256;
}

/* ===== Títulos e Textos ===== */
.title-responsive {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

 h5,
 p {
    margin-bottom: 0px; 
}

/* Telas médias (tablet) */
@media (max-width: 768px) {
    .back-circle {
        width: 35px;
        height: 35px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .title-responsive {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Telas pequenas (smartphones) */
@media (max-width: 576px) {
    .back-circle {
        width: 30px;
        height: 30px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .title-responsive {
        padding-left: 1.5rem;
        padding-right: 2rem;   
 }
}

/* Lista interna (ex.: cursos cadastrados) */
ul {
    padding-left: 2rem;
}

/* Card */
.card {
    border-radius: 0.75rem;
}
