.back-circle {
    width: 40px;
    height: 40px;
    background-color: #1b3b4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 0.5rem;
    z-index: 1;
}

.back-circle svg {
    color: white;
}

.back-circle:hover {
    background-color: #154256;
}

/* ===== TÍTULO RESPONSIVO ===== */
.title-responsive {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Responsividade */

/* Telas médias (tablet) */
@media (max-width: 768px) {
    .back-circle {
        width: 35px;
        height: 35px;
    }

    .title-responsive {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Telas pequenas (smartphones) */
@media (max-width: 576px) {
    .back-circle {
        width: 30px;
        height: 30px;
    }
    .title-responsive {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    form .form-control,
    form .form-select,
    form textarea {
        width: 100%;
    }

     .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
