services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend/app.py:/app/app.py
      - ./frontend/static:/app/static
      - ./frontend/templates:/app/templates
      - ./backend/logs:/app/logs
    restart: always
    networks:
      - dockercompose
    depends_on:
      - db
    command: ["/wait-for-db.sh", "db", "python", "app.py"]
    env_file:
      - .env

  db:
    image: mysql:5.7
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_CHARSET: ${MYSQL_CHARSET}
      MYSQL_COLLATION: ${MYSQL_COLLATION}
    ports:
      - "3307:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - dockercompose

networks:
  dockercompose:
