Flask==3.1.0
Jinja2==3.1.6
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.35
pymysql
python-dotenv
matplotlib
flask-login
unidecode
pytz
gunicorn
Flask-WTF==1.2.1
pyotp==2.9.0
qrcode[pil]==7.4.2
Pillow==10.3.0
Werkzeug>=2.3.0
Flask-Mail>=0.9.1